label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}